/* 布局 */
.header-container{
    background: #fff;
    border-bottom:1px solid #dadada;
}

.header-logo-container,
.header-nav-container,
.header-btn-container{
    height: 64px;

}
.header-btn-container{
    display: flex;
    align-items: center;
    justify-content: end;
}

.slider-container {
    margin-top: 20px;
    margin-bottom: 20px;

}
.slider-container .row{
    background: #f5f5f5;
    margin: 0;
}
.slider-text-container{
    padding: 20px 0px;
}
.slider-title,
.slider-subtitle,
.slider-btns{
    margin-bottom: 20px;
    text-align: center;
}
@media (min-width:768px){
    .slider-container .row{
        display: flex;
        align-items: center;
    }
}

/* 布局end */


/* 组件 */
.btn-toggle{
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-toggle:hover{
   background-color: #f9f9f9;
   
}
.btn-toggle-bar{
    display: block;
    width: 24px;
    height: 4px;
    background-color: #363636;
    border-radius: 2px;
}
.btn-toggle-bar + .btn-toggle-bar{
    margin-top: 4px;
}
.btn-toggle-bar:hover{
    background-color: #1428a0;
}


/* nav */
.nav-container{
    position: relative;
    top:-1px;
    overflow: hidden;
    height: 0;
    border-bottom: 1px solid #dadada;
    transition: height 0.5s;
}
.nav-container-extended{
    height: 201px;
    top:0px;
}
.btn-rounded{
    display: inline-block;
    padding: 8px 20px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: bold;    
    transition: all 0.5s;
}
.btn-rounded:hover{
    background: #000;
    color: #fff;
}
/* 组件end */

/* 内容 */
.header-logo{
    display: flex;
    align-content: center;
    width: 136px;
    height: 100%;
}
.header-nav,
.header-nav-item,
.header-nav-link{
    height: 100%;

}
.header-nav{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}
.header-nav-item{
    margin-left: 24px;
}
.header-nav-item:first-child{
    margin-left: 0;
}
.header-nav-link{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.nav-link{
    display: block;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
}

.slider-title{
    font-size: 30px;

}
.slider-subtitle{
    font-size: 20px;
    font-weight: normal;
}
.slider-btns .btn-rounded{
    margin-right: 10px;
    margin-bottom: 10px;
}
.slider-btns .btn-rounded:last-child{
    margin-right: 0;
}
.product-container{
    margin-bottom: 20px;
}
.product-item{
    overflow: hidden;
    display: block;
}
.product-img{
    transition: transform 0.5s;
}
.product-img:hover{
    transform: scale(1.2);
}

.back-top-container{
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background: #fff;
}
.btn-backtop{
    padding: 18px 0;
    text-align: center;
    display: block;

}
.help-container{
    background: #f7f7f7;
    line-height: 2;
}
.help-info-container{
    margin: 20px 0px;
    line-height: 1.6;
}
.btn-backtop::after{
    content: "";
    width: 10px;
    height: 6px;
    background: url(../img/up.svg);
    display: inline-block;
    position: relative;
    top: -2px;
    left: 5px;
}
.icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 100% 100%;
    margin-top: 20px;
    margin-right: 20px;
}

.weixin{
    background-image: url(../img/weixin.svg);
}
.weibo{
    background-image: url(../img/weibo.svg);


}
.weixin:hover{
    background-image: url(../img/weixin-hover.svg);
}
.weibo:hover{
    background-image: url(../img/weibo-hover.svg);
}
.footer{
    background: #363636;
    color: #a6a6a6;
    font-size: 12px;
    line-height: 2;
}
.footer-item{
    display: inline-block;
    margin-right: 20px;
    
    
}
.footer-link{
    color: #fff;
    font-weight: bold;
    font-size: 14px;

}
.footer-link:hover{
    text-decoration: underline;
    color: #fff;
}






















/* 内容end */